Alaysis

In [81]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load 
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [87]:
# Calculate the total number of unique schools
school_count_df = school_data_complete_df["school_name"].nunique()
school_count_df

15

In [89]:
# Calculate the total number of students
student_count = school_data_complete_df["student_name"].count()
student_count_df

NameError: name 'student_count_df' is not defined

In [86]:
#calculate total budget 
total_budget_df = school_data_complete_df["budget"].sum()
total_budget_df

82932329558

In [58]:
# Calculate the average (mean) math score
average_math_score_df = school_data_complete_df["math_score"].mean()
average_math_score_df

78.98537145774827

In [71]:
# Calculate the average (mean) reading score
average_reading_score_df = school_data_complete_df["reading_score"].mean()
average_reading_score_df

81.87784018381414

In [ ]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage